<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reset password</title>
</head>
<body>
    <h1>Nova senha</h1>
    <a href="{% url 'verifyToken' %}">voltar</a>

    <form method="POST" action="{% url 'updatePass' %}">
        {% csrf_token %}
        <label for="nova-senha">Nova senha:</label>
        <input type="password" id="tokenNumber" name="reset-senha" placeholder="********" required><br>
        
        <label for="confirm-senha">Confirme sua senha:</label>
        <input type="password" id="csenha" name="c-reset-senha" placeholder="********" required><br>
        
        <button type="submit" value="Submit">Enviar</button>
      </form> 
</body>
</html>