{% extends "recomendacao/home.html" %}
{% load static %}
{% block content %}
    <head>
        {% block link %}
            <link rel="stylesheet" type="text/css" href="{% static 'css/update_reset.css' %}" media="screen" />
            <title>Senha Alterada</title>
        {% endblock link %}
    </head>
    <body>
        <header class="header p-2 mb-4">
            <h1>Senha alterada</h1>
          </header>
        <p id="text-central">Sua senha foi redefinida. Faça o login para acessar sua conta <a href="{% url 'login' %}">login</a> !</p>
    </body>
{% endblock content %}