{% extends "recomendacao/home.html" %}
{% load static %}
{% block content %}
    <head>
        {% block link %}
            <link rel="stylesheet" type="text/css" href="{% static 'css/update_reset.css' %}" media="screen" />
            <title>Alteração de Senha</title>
        {% endblock link %}
    </head>
  <body>
    <header class="header p-2 mb-4">
      <h1>Redefina sua palavra-passe</h1>
    </header>
    <div id="text-central">
      {% if validlink %}
      <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" value="alterar senha">alterar senha</button>
        </form> 
      {% else %}
        <p>
          O link de redefinição de senha é inválido, possivelmente porque foi 
          já foi usado. solicite uma nova redefinição de senha.
          <a href="{% url 'login' %}">login</a>
        </p>
      </div>
      {% endif %}
    
  </body>
{% endblock content %}