{% extends "recomendacao/home.html" %}
{% load static %}
{% block content %}
    {% block link %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/perfil_user.css' %}" media="screen" />
    <title>Seu Perfil</title>
    {% endblock link %}
    <header>
        <nav>
            <a href="{% url 'home' %}" class="btn btn-warning justify-content-start nav-button-voltar m-4">Voltar</a></li>
        </nav>
    </header>
    
    <div class="container">
        {% if perfil.genero == "masculino" %}
        <h2>Perfil do @{{user}}</h2>
        {% else %}
            <h2>Perfil da @{{user}}</h2>
        {% endif %}
        <table id="perfil-tabela" class="table p-5">
            <thead>
                <tr>
                    <th>Nome completo</th>
                    <th>Idade</th>
                    <th>E-mail</th>
                    <th>Gênero</th>
                    <th>Telefone</th>
                    <th>Senha</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{usuario}} {{usuario.last_name}}</td>
                    <td>{{idade}} anos</td>
                    <td>{{usuario.email}}</td>
                    <td>{{perfil.genero}}</td>
                    <td>{{telefone}}</td>
                    <td><a href="{% url 'password_change_password' %}">alterar senha</a></td>
                </tr>
            </tbody>
        </table>

        <a href="{% url 'editPerfil' %}" id="editar-perfil" class="btn btn-warning">Editar perfil</a><br><br>

        <div class="row mt-2">
            <a class="col btn btn-secondary" href="{% url 'logout' %}" id="logout">Logout</a>
            <a class="col offset-1 btn btn-danger" href="{% url 'delete_account' %}" id="deletar-conta">Deletar conta</a>
        </div>
    </div>
{% endblock content %}