{% extends "recomendacao/home.html" %}
{% load static %}
{% block content %}
    <head>
        {% block link %}
            <link rel="stylesheet" type="text/css" href="{% static 'css/atualizar_dados.css' %}" media="screen" />
            <title>Senha atualizada</title>
        {% endblock link %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header class="header p-2 mb-4">
            <nav>
              <a href="{% url 'perfil' %}" class="row justify-content-start nav-button-voltar m-4">Voltar</a>
            </nav>
            <h1>Senha redefinida!</h1>
        </header>
        <p id="text-central">Sua senha foi redefinida, volte para o perfil para fazer novas alterações!</p>
    </body>
{% endblock content %}